li{
    margin-left: 10px; 
    margin-right:10px;
    padding-top:20px; 
}

.imageContainer {
    width:100%;
    height: 600px; 
    background-image: url(https://consumer-img.huawei.com/content/dam/huawei-cbg-site/south-pacific/id/mkt/homepage/section1/new_nova/KV-nova-1.jpg);
    background-size: cover;
    
    
}   